body{
    text-align: center;
    background-color: rgba(88, 228, 253, 0.164);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.intro > p{
    text-align: center;
    margin: 10px 230px;
}

.ftperfil img {
    max-width: 242px;
    max-height: 194px;
    border-radius: 50%;
}

.social ul {
    list-style: none;
    display: flex;
    justify-content:center;
    gap: 20px;
    padding: 0px;
    margin-top: 30px;
}

.social i {
    color: black;
    font-size: 25px;
}

.intro a {
    color: black; 
    display: inline-block;
    position: relative;
    text-decoration: none;
}


.intro a::after {
    content: '';
    position: absolute ;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #4c96bb;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.intro > a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }  

  @media (max-width: 950px){
    .intro > p{
        text-align: center;
        margin: 25px 8px;
    }
    .intro > p > a {
        text-decoration: underline;
        text-decoration-color: #4c96bb;
        
    }

}
